<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Test</title>
    <!-- 引入 Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!-- 新增登出按鈕 -->
    <nav class="position-absolute top-0 end-0 m-3">
        <button class="btn btn-danger px-4 py-2 shadow-sm rounded-pill" onclick="logout()">登出</button>
    </nav>




    <div class="container my-5">
        <h1 class="text-center mb-4">Helm 維運介面測試 {{.version}}</h1>
        <h1 class="text-center mb-4">顧客名稱:{{.customer}}</h1>
        <!-- Upload Kube Config -->
        <div class="card mb-4">
            <div class="card-header">Upload Kube Config</div>
            <div class="card-body">
                <form id="uploadForm">
                    <div class="mb-4">
                        <label for="file" class="form-label">Select File:</label>
                        <input type="file" class="form-control" id="file" name="file" required>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="uploadFile()">Upload File</button>
                </form>

                <div id="response" class="mt-3">
                    <h5>Response:</h5>
                    <pre id="responseData" class="bg-light p-3 border rounded"></pre>
                </div>
            </div>
        </div>


        <!-- Upload Release -->
        <div class="card mb-4">
            <div class="card-header">Upload Repo</div>
            <div class="card-body">
                <form id="uploadForm">
                    <div class="mb-3">
                        <label for="fileRelease" class="form-label">Select Release File:</label>
                        <input type="file" class="form-control" id="fileRelease" name="file" required>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="uploadRepo()">Upload Release</button>
                </form>

                <div id="response" class="mt-3">
                    <h5>Response:</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>ChartVersion</th>
                                    <th>AppVersion</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody id="listRepoResult"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">Get Releases</div>
            <div class="card-body">
                <button type="button" class="btn btn-primary mb-3" onclick="listRelease()">Get Releases</button>
                <button type="button" class="btn btn-secondary mb-3" id="unlockBtn" onclick="unlock()">Unlock</button>

                <div id="response" class="mt-3">
                    <h5>Response:</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>ChartName</th>
                                    <th>Namespace</th>
                                    <th>Chart Version </th>
                                    <th>Last Deployed Time</th>
                                    <th>New Chart Version </th>
                                    <th>NeedUpdate</th>
                                </tr>
                            </thead>
                            <tbody id="listReleaseResult"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




        <div class="card mb-4">
            <div class="card-header">Get Log</div>
            <div class="card-body">
                <button type="button" class="btn btn-primary mb-3" onclick="listRelease2()">Refresh Log</button>
                <button type="button" class="btn btn-secondary mb-3" id="unlockBtn" onclick="unlock()">Unlock</button>

                <div id="response" class="mt-3">
                    <h5>Response:</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>ChartName</th>
                                    <th>Namespace</th>
                                    <th>Chart Version </th>
                                    <th>Last Deployed Time</th>
                                    <th>Download log</th>
                                </tr>
                            </thead>
                            <tbody id="listReleaseResult2"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>






        <!-- Get Pods -->
        <div class="card mb-4">
            <div class="card-header">Get Pods</div>
            <div class="card-body">
                <button type="button" class="btn btn-primary mb-3" onclick="listPods()">Get Pods</button>
        
                <!-- 筛选栏 -->
                <div class="mb-3">
                    <label for="namespaceFilter">Filter by Namespace:</label>
                    <input type="text" id="namespaceFilter" class="form-control" placeholder="Enter Namespace" oninput="filterPods()">
                </div>
        
                <div id="response" class="mt-3">
                    <h5>Response:</h5>
                    <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Pods</th>
                                    <th>Namespace</th>
                                    <th>ReleaseName</th>
                                    <th>Status</th>
                                    <th>RestartCount</th>
                                    <th>Age</th>
                                    <th>Node Name</th>
                                </tr>
                            </thead>
                            <tbody id="listPods"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>        





        <!-- Diff Release -->
        <div class="card mb-4">
            <div class="card-header">Diff Release</div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" onclick="diffRelease()">Diff Release</button>
                <button type="button" class="btn btn-secondary" onclick="clear()">Clear</button>

                <div id="response" class="mt-3">
                    <h5>Response:</h5>
                    <pre id="diffReleaseResult" class="bg-light p-3 border rounded"></pre>
                </div>
            </div>
        </div>




        <!-- install package -->
        <div class="card mb-4">
            <div class="card-header">install Release</div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" onclick="upgradeRelease()">Install Release</button>
                <button type="button" class="btn btn-secondary" onclick="clear()">Clear</button>

                <div id="response" class="mt-3">
                    <h5>Response:</h5>
                    <pre id="upgradeReleaseResult" class="bg-light p-3 border rounded"></pre>
                </div>
            </div>
        </div>




    </div>

    <!-- 引入 Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        const config = {
            baseURL: "{{.baseURL}}",
            //baseURL: 'https://sat-k8s-pix.baby.juiker.net',
            endpoints: {
                uploadConfig: '/uploadConfig',
                listRelease: '/listRelease',
                listPods: '/listPods',
                listRepo: '/listRepo',
                uploadRepo: '/uploadRepo',
                diffRelease: '/diffRelease',
                upgradeRelease: '/upgradeRelease',
                rollbackRelease: '/rollbackRelease',
                logout: '/logout',
                log: '/log',
                checklog: '/log-check'
            }
        };

        async function uploadFile() {
            const fileInput = document.getElementById('file');
            const file = fileInput.files[0];

            if (!file) {
                alert('Please select a file to upload.');
                return;
            }

            const formData = new FormData();
            formData.append('file', file);

            try {
                const response = await fetch(config.baseURL + config.endpoints.uploadConfig, {
                    method: 'PUT',
                    body: formData
                });

                const data = await response.json();
                document.getElementById('responseData').textContent = JSON.stringify(data, null, 2);
            } catch (error) {
                document.getElementById('responseData').textContent = `Error: ${error.message}`;
            }
        }

        async function listRelease() {
            try {
                const response = await fetch(config.baseURL + config.endpoints.listRelease, {
                    method: 'GET'
                });

                const data = await response.json();
                const tableBody = document.getElementById('listReleaseResult');
                tableBody.innerHTML = '';

                data.forEach(release => {
                    const row = document.createElement('tr');


                    /*<td>${release.appversion}</td>*/
                    /*<td>${release.version}</td>*/
                    row.innerHTML = `
                        <td>${release.name}</td>
                        <td class="${release.status.trim() === 'deployed' ? 'table-success' : 'table-danger'}" 
                            style="${release.status.trim() === 'deployed' ? 'background-color: rgba(40, 167, 69, 0.1); border: 1px solid #dee2e6;' : 'background-color: rgba(220, 53, 69, 0.1); border: 1px solid #dee2e6;'}">
                            ${release.status}
                        </td>
                        <td>${release.chartname}</td>
                        <td>${release.namespace}</td>
                        <td>${release.chartversion}</td>
                       
                        <td>${release.lastdeployedtime}</td>
                        <td>${release.newchartversion}</td>
                        <td class="${release.needupdate ? 'table-warning' : ''}">
                            ${release.needupdate ? 
                                `<button class="btn btn-success" onclick="updateFunction(&quot;${release.name}&quot;,&quot;${release.chartname}&quot;,&quot;${release.namespace}&quot;)" ${unlockupdate ? '' : 'disabled'}>Update</button>` 
                                : (release.version > 1 ? 
                                    `<button class="btn btn-warning" onclick="rollbackrelease(&quot;${release.name}&quot;,&quot;${release.chartname}&quot;,&quot;${release.namespace}&quot;)" ${unlockupdate ? '' : 'disabled'}>Rollback</button>` 
                                    : '')}
                        </td>
                    `;
                    tableBody.appendChild(row);
                });
            } catch (error) {
                const tableBody = document.getElementById('listReleaseResult');
                tableBody.innerHTML = `<tr><td colspan="4">Error: ${error.message}</td></tr>`;
            }
        }
        listRelease();
        setInterval(listRelease, 5000);



        async function listRelease2() {
        try {
            const response = await fetch(config.baseURL + config.endpoints.listRelease, {
                method: 'GET'
            });

            const data = await response.json();
            const tableBody = document.getElementById('listReleaseResult2');
            let tableContent = ''; // 用來暫存 HTML 內容

            // 使用 Promise.all 等待所有 checkLogFunction 完成
            const fileExistsList = await Promise.all(data.map(release => checkLogFunction(release.name)));

            // 生成所有表格行的 HTML
            data.forEach((release, index) => {
                const fileExists = fileExistsList[index];

                tableContent += `
                    <tr>
                        <td>${release.name}</td>
                        <td class="${release.status.trim() === 'deployed' ? 'table-success' : 'table-danger'}" 
                            style="${release.status.trim() === 'deployed' ? 'background-color: rgba(40, 167, 69, 0.1); border: 1px solid #dee2e6;' : 'background-color: rgba(220, 53, 69, 0.1); border: 1px solid #dee2e6;'}">
                            ${release.status}
                        </td>
                        <td>${release.chartname}</td>
                        <td>${release.namespace}</td>
                        <td>${release.chartversion}</td>
                        <td>
                            ${fileExists === 2 ? 
                                `<a href="${config.baseURL}${config.endpoints.log}/${release.name}.tar.gz" 
                                    target="_blank" 
                                    download="${release.name}_${new Date().toISOString().replace(/[:T]/g, '-').slice(0,19)}.tar.gz">
                                    下載連結
                                </a>` 
                                : fileExists === 1 ? 
                                    `<span>檔案產生中...</span>` 
                                    : `<span></span>`
                            }
                        </td>
                        <td><button class="btn btn-success" onclick="getLogFunction('${release.name}', '${release.chartname}', '${release.namespace}')" ${unlockupdate ? '' : ''}>GetLog</button></td>
                    </tr>
                `;
            });

            // 統一更新 DOM，避免逐行渲染造成的頁面閃爍
            tableBody.innerHTML = tableContent;

            } catch (error) {
                document.getElementById('listReleaseResult2').innerHTML = `<tr><td colspan="7">Error: ${error.message}</td></tr>`;
            }
        }

        listRelease2();
        setInterval(listRelease2, 10000);



        async function getLogFunction(releasename,chartname,namespace){

            //startTime = prompt("請輸入開始時間 (格式: YYYYMMDDHHMM):", "202502180000");
            //endTime = prompt("請輸入結束時間 (格式: YYYYMMDDHHMM):", "202503180000");

            const { startTime, endTime } = await openDateTimePicker();
            if (!startTime || !endTime) {
                alert("開始時間或結束時間未選擇，請重試。");
                return;
            }

            localStorage.setItem("lastStartTime", startTime);
            localStorage.setItem("lastEndTime", endTime);
            //startTime="202502180000"
            //endTime="202503180000"

            alert("產生 Log 中,等待檔案連結產生\n"+"服務名稱:"+name+"\n namespace:"+namespace)
            const requestData = {
                releasename: releasename,
                chartname: chartname,
                namespace: namespace,
                startTime: startTime.replace(/\D/g, ""),  // 格式化為 YYYYMMDDHHMM
                endTime: endTime.replace(/\D/g, "")
            };


            try {
                const response = await fetch(config.baseURL + config.endpoints.log, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(requestData)
                });

                const result = await response.text();
                //alert("Get log " + result);
                listRelease2();
            } catch (error) {
                console.error("Error updating release:", error);
                //alert("Failed to update release.");
            } finally{
            }
        }


        function openDateTimePicker() {
            return new Promise((resolve) => {
                // 取得 localStorage 內的值，若無則使用預設值
                const lastStartTime = localStorage.getItem("lastStartTime") || "2025-02-18T00:00";
                const lastEndTime = localStorage.getItem("lastEndTime") || "2025-03-18T00:00";

                const modal = document.createElement("div");
                modal.innerHTML = `
                    <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
                                background: white; padding: 20px; box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
                                z-index: 1000; border-radius: 10px;">
                        <h3>請選擇時間區間</h3>
                        <label>開始時間: <input type="datetime-local" id="startTime" value="${lastStartTime}"></label><br><br>
                        <label>結束時間: <input type="datetime-local" id="endTime" value="${lastEndTime}"></label><br><br>
                        <button id="confirmBtn">確定</button>
                        <button id="cancelBtn">取消</button>
                    </div>
                `;
                document.body.appendChild(modal);

                document.getElementById("confirmBtn").addEventListener("click", () => {
                    const startTime = document.getElementById("startTime").value;
                    const endTime = document.getElementById("endTime").value;
                    modal.remove();
                    resolve({ startTime, endTime });
                });

                document.getElementById("cancelBtn").addEventListener("click", () => {
                    modal.remove();
                    resolve({ startTime: null, endTime: null });
                });
            });
        }


        async function checkLogFunction(releasename) {
            const requestData = {
                exists: true,
            };

            try {
                // 發送 GET 請求來檢查日誌檔案是否存在
                const response = await fetch(config.baseURL + config.endpoints.checklog + "/" + releasename, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    },
                });

                // 確保回應成功
                if (response.ok) {
                    const result = await response.json(); // 獲取 JSON 回應
                    return result.exists
                } else {
                    return 0
                }

            } catch (error) {
                console.error("檢查檔案過程中發生錯誤:", error);
                alert("檢查檔案時發生錯誤，請稍後再試。");
            }
        }








        async function updateFunction(releasename,chartversion,namespace) {

            const requestData = {
                releasename: releasename,
                chartname: chartversion,
                namespace: namespace
            };


            try {
                const response = await fetch(config.baseURL + config.endpoints.upgradeRelease, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(requestData)
                });

                const result = await response.text();
                alert("Update result: " + result);
            } catch (error) {
                console.error("Error updating release:", error);
                alert("Failed to update release.");
            } finally{
                listRelease();
            }
        }
        async function rollbackrelease(releasename,chartversion,namespace) {

            const requestData = {
                releasename: releasename,
                chartname: chartversion,
                namespace: namespace
            };


            try {
                const response = await fetch(config.baseURL + config.endpoints.rollbackRelease, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(requestData)
                });

                const result = await response.text();
                alert("Update result: " + result);
            } catch (error) {
                console.error("Error updating release:", error);
                alert("Failed to update release.");
            } finally{
                listRelease();
            }
        }

        let unlockupdate = false;

        function unlock() {
            // 切換 0 <-> 1
            unlockupdate = unlockupdate === false ? true : false;

            if (unlockupdate==true){
                document.getElementById("unlockBtn").className = "btn btn-success mb-3";
                const buttons = document.querySelectorAll("#listReleaseResult button");
                buttons.forEach(button => {
                    button.disabled = false;
                });
                document.getElementById("unlockBtn").classList.toggle("btn-primary");
            }else{
                document.getElementById("unlockBtn").className = "btn btn-secondary mb-3";
                const buttons = document.querySelectorAll("#listReleaseResult button");
                buttons.forEach(button => {
                    button.disabled = true;
                });
            }  
        }
        async function listPods() {
            try {
                const response = await fetch(config.baseURL + config.endpoints.listPods, {
                    method: 'GET'
                });

                const data = await response.json();
                const tableBody = document.getElementById('listPods');
                tableBody.innerHTML = '';

                data.forEach(pod => {
                    const row = document.createElement('tr');

                    pod.age=formatDuration(pod.age);
                    row.innerHTML = `
                        <td>${pod.name}</td>
                        <td>${pod.namespace}</td>
                        <td>${pod.releasename}</td>
                        <td class="${pod.status.trim() === 'Running' ? 'table-success' : 'table-danger'}" style="${pod.status.trim() === 'Running' ? 'background-color: rgba(40, 167, 69, 0.1); border: 1px solid #dee2e6;' : 'background-color: rgba(220, 53, 69, 0.1); border: 1px solid #dee2e6;'}">${pod.status}</td>
                        <td>${pod.restartcount}</td>
                        <td>${pod.age}</td>
                        <td>${pod.nodename}</td>
                    `;

                    tableBody.appendChild(row);
                });
            } catch (error) {
                const tableBody = document.getElementById('listPods');
                tableBody.innerHTML = `<tr><td colspan="4">Error: ${error.message}</td></tr>`;
            }
            // 讀取後過濾
            filterPods()
        }
        listPods();
        setInterval(listPods, 5000);

        function filterPods() {
            const filterValue = document.getElementById('namespaceFilter').value.toLowerCase(); // 获取筛选框值并转小写
           
            const rows = document.getElementById('listPods').getElementsByTagName('tr'); // 获取表格所有行

            // 遍历每一行，检查 namespace 是否匹配
            Array.from(rows).forEach(row => {
                const namespaceCell = row.cells[1]; // 获取每行的namespace列
                const namespaceText = namespaceCell ? namespaceCell.textContent.toLowerCase() : '';

                if (namespaceText.indexOf(filterValue) === -1) {
                    row.style.display = 'none'; // 隐藏不匹配的行
                } else {
                    row.style.display = ''; // 显示匹配的行
                }
            });
        }

        function formatDuration(duration) {
            const match = duration.match(/(\d+)h(\d+)m(\d+(?:\.\d*)?)s/);
            if (!match) return duration; 

            let hours = parseInt(match[1], 10);
            let minutes = parseInt(match[2], 10);
            let seconds = Math.floor(parseFloat(match[2]));  // 取整秒数
            

            if (hours >= 24) {
                const days = Math.floor(hours / 24);
                hours = hours % 24;
                return hours > 0 ? `${days}d ${hours}h ${minutes}m ${seconds}s` : `${days}d ${minutes}m ${seconds}s`;
            }

            return `${hours}h ${minutes}m ${seconds}s`;
        }


        async function listRepo() {
            document.getElementById('listRepoResult').innerHTML = '';
            try {
                const response = await fetch(config.baseURL + config.endpoints.listRepo, {
                    method: 'GET',
                });

                const data = await response.json();
                data.forEach(pod => {
                    const tableBody = document.getElementById('listRepoResult');
                    const row = document.createElement('tr');

                    row.innerHTML = `
                        <td>${pod.name}</td>
                        <td>${pod.chartversion}</td>
                        <td>${pod.appVersion}</td>
                        <td>${pod.description}</td>
                    `;

                    tableBody.appendChild(row);
                });
            } catch (error) {
                responseReleaseElement.textContent = `Error: ${error.message}`;
            }

        }
        //listRepo()


        async function uploadRepo() {
            const fileInput = document.getElementById('fileRelease');
            const file = fileInput.files[0];

            if (!file) {
                alert('Please select a file to upload.');
                return;
            }

            const formData = new FormData();
            formData.append('file', fileInput.files[0]);
            

            
            document.getElementById('listRepoResult').innerHTML = '';
            try {
                const response = await fetch(config.baseURL + config.endpoints.uploadRepo, {
                    method: 'PUT',
                    body: formData,
                });


                
                const data = await response.json();
                alert (data.message)
            
                
            } catch (error) {
            }

            listRepo()
        }

        async function diffRelease() {
            document.getElementById('diffReleaseResult').textContent = '';

            try {
                const response = await fetch(config.baseURL + config.endpoints.diffRelease, {
                    method: 'POST',
                });

                const data = await response.text();
                document.getElementById('diffReleaseResult').textContent = data;
            } catch (error) {
                document.getElementById('diffReleaseResult').textContent = `Error: ${error.message}`;
            }
        }

        async function upgradeRelease() {
            document.getElementById('upgradeReleaseResult').textContent = '';

            try {
                const response = await fetch(config.baseURL + config.endpoints.upgradeRelease, {
                    method: 'POST',
                });

                const data = await response.text();
                document.getElementById('upgradeReleaseResult').textContent = data;
            } catch (error) {
                document.getElementById('upgradeReleaseResult').textContent = `Error: ${error.message}`;
            }
        }

        async function logout() {

            try {
                const response = await fetch(config.baseURL + config.endpoints.logout, {
                    method: 'POST',
                });
            } catch (error) {
            }
        }



    </script>
</body>
</html>
